<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.horizon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".HorizonMainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".screens.splashscreen.SplashScreenActivity"
            android:theme="@style/AppTheme.Launcher"
            android:screenOrientation="userPortrait">
        </activity>

        <activity
            android:name=".screens.onboarding.OnBoardingActivity"
            android:label="@string/title_activity_on_boarding"
            android:screenOrientation="userPortrait"/>

        <activity
            android:name=".screens.authentication.LoginActivity"
            android:screenOrientation="userPortrait"/>

        <activity
            android:name=".screens.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".screens.main.home.stage.StageActivity"
            android:screenOrientation="userPortrait"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9cd4588736a59c23d95f6e5941aeb6842e7d1780" />

    </application>

</manifest>